* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

span {
  font-weight: bold;
}

.container {
  padding: 30px;
}

.c-navigation {
  display: flex;
  justify-content: space-around;
  button {
    background-color: #d9f614;
    border: 2px solid black;
    border-radius: 50%;
    height: 40px;
    cursor: pointer;
    a {
      color: brown;
      margin: 8px;
      padding: 8px;
      font-size: 20px;
    }
    a:focus {
      color: red;
    }
  }
}

.c-select__body {
  display: grid;
  min-height: 48px;
  width: 480px;
  padding: 0 8px;
  border: 1px solid rgb(214, 216, 218);
  border-radius: 3px;
  overflow: hidden;
}

.c-select:focus-within {
  border: 1px solid #0052cc;
}

.c-select__menu {
  min-height: 40px;
  max-height: 200px;
  width: 480px;
  border-radius: 3px;
  border: 1px solid blue;
  overflow-y: scroll;
  p {
    margin: 0px;
    padding: 6px;
  }
  p:hover {
    background-color: #eee9e9;
  }
}

.c-select__tags {
  display: flex;
  flex-wrap: wrap;
  div {
    background-color: #cd9b9b;
    border-radius: 5px;
    margin: 2px;
    padding: 4px;
  }
  span {
    padding: 1px 1px 1px 4px;
  }
}

input {
  border: none;
  height: 30px;
  font-size: 14px;
  padding: 4px 0 0 0;
}

input:focus {
  outline: transparent;
}

//general
.u-place-items-center {
  display: grid;
  grid-gap: 15px;
  place-items: center;
}
